* {
    padding: 0;
    margin: 0;
    overflow: auto;
}

body {
    font-family: 'Roboto', consolas, sans-serif;
}

.header {
    background-color: #1F2937;
    width: 100%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    float: left;
    margin: 32px 117px;
    font-weight: 700;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
    float: right;
    padding: 35px 10px;
}

.link:hover {
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.last {
    margin-right: 97px;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 125px;
}

.desc {
    flex: 1;
}

.awesome {
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 20px 8px 20px;
    margin-top: 15px;
    font-size: 16px;
}

.sign-up:hover {
    cursor: pointer;
    color: #3882F6;
    background-color: #1F2937;
    border: 2px solid #3882F6;
}

.image {
    flex: 1;
    background: rgba(255,255,255,0.5);
    text-align: center;
    height: 134px;
    padding-top: 113px;
    font-weight: 500;
    color: whitesmoke;
}

.section-two {
    text-align: center;
    padding: 70px 125px;
}

.subtext {
    display: flex;
    align-items: center;
    justify-content: center;
}   

.section-two h1 {
    font-size: 36px;
    color: #1F2937;
}

.img-subtext {
    border: 3px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 60px;
}

.one, .two, .three, .four {
    flex: 1;
}

.p-subtext {
    color: rgba(0,0,0,0.7);
}

.section-three {
    background-color: #E5E7EB;
    text-align: left;
    margin-top: 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
    padding: 122px 145px;
}

.author {
    font-weight: 700;
    font-size: x-large;
    float: right;
    margin-right: 140px;
    margin-top: -123px;
}

.section {
    display: flex;
    background-color: #3882F6;
    margin: 100px 100px;
    border: 3px solid #3882F6;
    border-radius: 7px;
    color: #F9FAF8;
}

.action {
    flex: 2;
    padding: 30px 41px;
}

.call-action {
    font-size: larger;
    font-weight: 800;
}

.sign-btn {
    flex: 1;    
    text-align: center;
}

.sign-btn button{
    font-size: 16px;
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    margin-top: 37px;
    font-weight: 700;
}

.sign-btn button:hover {
    cursor: pointer;
    padding: 10px 25px 10px 25px;
    font-size: 25px;
    margin-top: 25px;
    transition: 0.3s;
    text-decoration: underline;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
}

.footer a{
    color: #CC9543;
    text-decoration: none;
}

.footer p{
    padding: 25px 25px;
}

.footer a:hover {
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    text-decoration: underline;
}